.vision_container {
    
	width: 100%;
	max-width: 900px;
	height: 425px;
	margin: 0 auto;
	background: url('img/company_vision.png') no-repeat;
	background-size: 100%;
	background-position: center;
}

#brand_mission {
	background-color: #f8f8f8;
}

#brand_mission .brand_m, #contact_us .brand_m {
	text-align: center;
	margin: 0;
	height: 15vh;
	line-height: 15vh;
	font-size: 16px;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #3f4baa;
}

.brand_v {
	text-align: center;
	margin: 0;
	height: 13vh;
	line-height: 6vh;
	font-size: 16px;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #3f4baa;
}

.contents_container {
	width: 100%;
	max-width: 900px;
	min-height: 40vh;
	margin: 0 auto;
	padding-bottom: 20px;
}

.mission_title {
	font-size: 28px;
	line-height: 1.5;
	text-align: center;
	font-weight: 400;
}

ul.mission_column {
	padding: 0;
	text-align: center;
}

ul.mission_column li {
	margin: 20px 40px;
	line-height: 1.5;
}

ul.mission_column li h4 {
	font-size: 24pt;
	margin: 15px 0 0;
}

.mission_underline {
	background: #3f4baa;
	height: 5px;
	width: 140px;
	margin: 0 auto;
}

.mission_circle {
	width: 3px;
	height: 3px;
	border-radius: 50%;
	border: 2px solid #3f4baa;
	margin: 30px auto 30px;
}

.location_container {
	width: 94%;
	padding: 3%;
	max-width: 800px;
	margin-top: 10px;
}

.head_office {
	float: left;
	width: 120px;
	font-size: 36px;
	font-weight: 400;
	line-height: 1.2;
	margin-bottom: 20px;
}

table.address {
	float: right;
	border: none;
	border-collapse: collapse;
	max-width: 520px;
}

table.address td:first-child {
	width: 96px;
	vertical-align: top;
}

table.address td {
	font-size: 15px;
	line-height: 1.3;
	padding: 4px 0;
}

table.address td:nth-child(2) {
	font-weight: 400;
	color: #888;
	padding-left: 20px;
	padding-right: 20px;
}

#sub_visual_area {
	margin-top: 50px;
	min-height: 500px;
	background: #f1f1d5 url(img/banner02.jpg) center no-repeat
}

/* map 관련 css */
#map {
	margin: 0 auto;
	width: 80%;
	height: 450px;
}
#p{
   margin: 30px;
	min-height: 500px;
   color:#fff;
   background: #000000 
   
  
}
div.Box_info p{
  margin-left: 50px;
}
